.Settings {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Description {
  padding-left: 50px;
}

.ShipsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ShipsListItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.TurnButton {
  position: absolute;
  top: 0;
  left: 0;
}

.ShipNumber {
  margin-right: 10px;
}

.Ship {
  border: 1px solid #000000;
}

.ShipHorizontal,
.MovedShipHorizontal {
  display: flex;
}

.MovedShip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  z-index: 1000;
}

.MovedShipVisible {
  opacity: 0.5;
  visibility: visible;
}